@model BuddyHub.Models.VM.ProfileData



    <div class="form-horizontal">
        <h4>ProfileData</h4>
        <hr />
      
        <form action="/Profile/Edit/@Session["Username"]" method="post">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <center>
                                            <img width="150" src="https://img.icons8.com/ios/50/000000/user--v3.png" />
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <center>
                                            <h4>@Model.Username</h4>
                                        </center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Name" class="profile ">Full Name : </label>
                                        <input type="text" name="Name" value="@Model.Name" class="profile1" />

                                    </div>

                                    <div class="col-md-6">
                                        <label for="DOB" class="profile ">Date of Birth : </label>
                                        <input type="date" name="DOB" class="profile1 " value="@Model.DOB.ToString("dd/M/yyyy")" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Contact" class="profile ">Contact :</label>
                                        <input type="text" name="Contact" class="profile1" value="@Model.Contact" />
                                    </div>

                                    <div class="col-md-6">
                                        <label for="Gender" class="profile ">Gender :</label>
                                        <select name="Gender" class="profile1">
                                            <option value="male" @if (Model.Gender == "male") { <text> selected="selected" </text> }>Male</option>
                                            <option value="female" @if (Model.Gender == "female") { <text> selected="selected" </text> }>Female</option>
                                        </select>
                                        

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Email" class="profile ">Email :</label>
                                        <input type="email" name="Email" class="profile1" value="@Model.Email" />
                                    </div>

                                    <div class="col-md-6">
                                        <label for="religion" class="profile ">Religion :</label>
                                        <select name="religion" class="profile1">
                                            <option value="islam" @if (Model.Gender == "islam") { <text> selected="selected" </text> }>Islam</option>
                                            <option value="hindu" @if (Model.Gender == "hindu") { <text> selected="selected" </text> }>Hindu</option>
                                            <option value="christian" @if (Model.Gender == "christian") { <text> selected="selected" </text> }>Christian</option>
                                            <option value="bhuddhism" @if (Model.Gender == "bhuddhism") { <text> selected="selected" </text> }>Bhuddhism</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Address" class="profile ">Address :</label>
                                        <input type="text" name="Address" class="profile1" value="@Model.Address" />

                                    </div>

                                    <div class="col-md-6">
                                        <label for="Relationship" class="profile ">Relationship :</label>
                                        <select name="Relationship" class="profile1">
                                            <option value="single" @if (Model.Gender == "single") { <text> selected="selected" </text> }>Single</option>
                                            <option value="married" @if (Model.Gender == "married") { <text> selected="selected" </text> }>Married</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 my-2">
                                        <input type="submit" class="btn btn-primary " value="Save" />
                                    </div>
                                </div>
                                <div class="my-2">
                                    <a href="/Profile/@Session["Username"]">Back to View Profile</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </form>
       

    </div>
}


