@model BuddyHub.Models.VM.ProfileData

<div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="150" src="https://img.icons8.com/ios/50/000000/user--v3.png" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>@Model.Username</h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Full Name : </span>
                                <span class="profile1 ">@Model.Name</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Date of Birth : </span>
                                <span class="profile1 ">@Model.DOB</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Contact :</span>
                                <span class="profile1 ">@Model.Contact</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Gender :</span>
                                <span class="profile1 ">@Model.Gender</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Email :</span>
                                <span class="profile1 ">@Model.Email</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Religion :</span>
                                <span class="profile1 ">@Model.Religion</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Address :</span>
                                <span class="profile1 ">@Model.Address</span>

                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Relationship :</span>
                                <span class="profile1 ">@Model.Relationship</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <input type="button" class="btn btn-primary " value="My post" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

    </dl>
     -->
</div>

<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
