@model BuddyHub.Models.VM.ProfileData

@{
    ViewBag.Title = "View";
}


<div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="150" src="https://img.icons8.com/ios/50/000000/user--v3.png" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>@Model.Username</h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Full Name : </span>
                                <span class="profile1 ">@Model.Name</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Date of Birth : </span>
                                <span class="profile1 ">@Model.DOB.ToString("dd MMM yyyy")</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Contact :</span>
                                <span class="profile1 ">@Model.Contact</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Gender :</span>
                                <span class="profile1 ">@Model.Gender</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Email :</span>
                                <span class="profile1 ">@Model.Email</span>
                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Religion :</span>
                                <span class="profile1 ">@Model.Religion</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="profile ">Address :</span>
                                <span class="profile1 ">@Model.Address</span>

                            </div>

                            <div class="col-md-6">
                                <span class="profile ">Relationship :</span>
                                <span class="profile1 ">@Model.Relationship</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
    
</div>

